[submodule "submodules/includer"]
	path = submodules/includer
	url = git@github.com:agerasev/c-includer.git
[submodule "submodules/rstd"]
	path = submodules/rstd
	url = git@github.com:agerasev/cpp-rstd.git
