[submodule "vecmat"]
	path = vecmat
	url = ../vecmat-rs.git
[submodule "ccgeom"]
	path = ccgeom
	url = ../ccgeom.git
[submodule "includer"]
	path = includer
	url = git@github.com:agerasev/ocl-include.git
